@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-secondary-1;
}

input {
  @apply focus:border-secondary-2 focus:outline-none;
}

.tooltip {
  @apply invisible;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.has-tooltip:not(:hover) .tooltip {
  @apply invisible;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-2xl font-bold;
}

h3 {
  @apply text-xl font-bold;
}

.responsive-text-s {
  @apply text-base sm:text-base xl:text-lg;
}

.responsive-text-m {
  @apply text-lg sm:text-lg xl:text-xl;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
